@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f6f6f6;
    text-align: center;
    font-family: arial;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: rgb(4, 50, 255);
    font-size: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;

}

input[type="text"],
input[type="email"],
select,
input[type="number"],
textarea {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box;
}

emailarea{
	width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus,
input[type="number"]:focus,
textarea:focus {
    border-color:#ff7f50;
}



.submit-button {
    background-color: #ff7f50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
