@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}