<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head
  th:replace="common/head :: head_fragment(title = '社内備品情報詳細', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="container">
    <h1>備品情報詳細</h1>
    <div th:object="${itemData}">
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">備品名</div>
        <div class="col pt-3 border">
          <p th:text="*{itemName}"></p>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">在庫数</div>
        <div class="col pt-3 border">
          <p th:text="*{stock}"></p>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">登録者名</div>
        <div class="col pt-3 border">
          <p th:text="*{name}"></p>
        </div>
      </div>
    </div>
    <br />
    <div class="text-center">
      <a th:href="@{/item/{id}/edit(id=*{id})}" class="btn btn-primary" >　編集　</a>
      <a th:href="@{/item/{id}/delete(id=*{id})}" class="btn btn-secondary">　削除　</a>
      <a href="/item/list" class="btn btn-secondary">一覧に戻る</a>
    </div>
  </div>
</body>
</html>