<!DOCTYPE html>
<html lang="ja">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>マイページ</title>
	<link rel="stylesheet" th:href="@{/css/Mypage.css}">
</head>

<body>
	<div class="container">
		<h1>マイページ</h1>
		<div th:object="${}">
			<div class="form-group">
				<label for="id">ユーザーID:</label>
				<input type="text" id="userid" th:field="*{userId}" disabled>
			</div>
			<div class="form-group">
				<label for="username">名前:</label>
				<input type="text" id="username" th:field="*{username}" disabled>
			</div>
			<div class="form-group">
				<label for="Email">Email:</label>
				<input type="text" id="Email" th:field="*{Email}" disabled>
			</div>
		</div>
	</div>
</body>

</html>