<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head
  th:replace="common/head :: head_fragment(title = '科目新規登録', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="container">
    <div th:if="${validationError}" th:each="error : ${validationError}">
      <label class="text-danger" th:text="${error}"></label>
    </div>
    <h1>科目新規登録</h1>
    <form th:action="@{/subject/create}" th:object="${subjectRequest}" th:method="post">

      <div class="form-group">
        <label>科目：<span class="text-danger">※</span></label>
        <input type="text" th:field="*{subject}" class="form-control">
      </div>

      <div class="text-center">
        <a href="/subject/list" class="btn btn-secondary">キャンセル</a>
        <input type="submit" value="登録" class="btn btn-primary">
      </div>
    </form>
  </div>
</body>
</html>